<div class="container" >
<!--  <mat-form-field appearance="fill" style="height: 1em;  margin-left: 40%">
    <mat-label style="">Afficher : </mat-label>
    <select #afficher_par style="color: black" matInput matNativeControl [(ngModel)]="afficher" >
      <option *ngFor="let visite of visites">
        La visite du : {{visite.appointmentDate}}
      </option>

    </select>
  </mat-form-field>-->
<!--  <mat-expansion-panel style=" margin-top: 2em;  margin-bottom: 2em;">
    <mat-expansion-panel-header>
      <mat-panel-title >
        Statistiques descriptives:
      </mat-panel-title>
    </mat-expansion-panel-header>-->
  <mat-card>Statistiques descriptives:</mat-card>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Max Column -->
    <ng-container matColumnDef="max">
      <th mat-header-cell *matHeaderCellDef> Max </th>
      <td mat-cell *matCellDef="let element"> {{element.max}} </td>
    </ng-container>

    <!-- Min Column -->
    <ng-container matColumnDef="min">
      <th mat-header-cell *matHeaderCellDef> Min </th>
      <td mat-cell *matCellDef="let element"> {{element.min}} </td>
    </ng-container>

    <!-- Average Column -->
    <ng-container matColumnDef="average">
      <th mat-header-cell *matHeaderCellDef> Average </th>
      <td mat-cell *matCellDef="let element"> {{element.average}} </td>
    </ng-container>

    <!-- Median Column -->
    <ng-container matColumnDef="median">
      <th mat-header-cell *matHeaderCellDef> Median </th>
      <td mat-cell *matCellDef="let element"> {{element.median}} </td>
    </ng-container>

    <!-- Variance Column -->
    <ng-container matColumnDef="variance">
      <th mat-header-cell *matHeaderCellDef> Variance </th>
      <td mat-cell *matCellDef="let element"> {{element.variance}} </td>
    </ng-container>

    <!-- SD Column -->
    <ng-container matColumnDef="sd">
      <th mat-header-cell *matHeaderCellDef> SD </th>
      <td mat-cell *matCellDef="let element"> {{element.sd}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="active" mat-row *matRowDef="let row; columns: displayedColumns;"
        class="example-element-row"></tr>
  </table>
<!--  </mat-expansion-panel>-->

<!--  <mat-divider></mat-divider>
  <mat-expansion-panel style=" margin-top: 2em;  margin-bottom: 2em;" >
    <mat-expansion-panel-header>
      <mat-panel-title style="color: #323232;">
        Graphes : (PODOMETRE)
      </mat-panel-title>
    </mat-expansion-panel-header>-->


  <mat-tab-group mat-align-tabs="center"  >

    <mat-tab label="Minutes">
      <div class="col-sm-4 text-center" >
        <h2 class="text-center">Minutes</h2>
      </div>
      <div class="chart" style="margin-top:2em" *ngIf="pieChartLabels?.length > 0">
        <div style="display: block;">
          <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Nombre de pas " >
      <div class="col-sm-4 text-center">
        <h2 class="text-center">Nombre de pas</h2>
      </div>
      <div class="chart" style="margin-top:2em" >
        <div style="display: block;">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Poids">
      <div class="col-sm-4 text-center">
        <h2 class="text-center">Poids</h2>
      </div>
      <div class="chart" style="margin-top:2em" *ngIf="lineChartLabels?.length > 0">
        <div style="display: block;">
          <canvas baseChart [data]="lineChartData" [labels]="lineChartLabels" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Tour de taille">
      <div class="col-sm-4 text-center">
        <h2 class="text-center">Tour de taille</h2>
      </div>
      <div class="chart" style="margin-top:2em" *ngIf="lineChartLabels?.length > 0">
        <div style="display: block;">
          <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [labels]="lineChartLabels" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </mat-tab>



  </mat-tab-group>
<!--  </mat-expansion-panel>-->







</div>
